.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.product-frame {
  flex: 0 0 calc(50% - 1rem);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 4em;
  margin-right: 4em;
}



/* CSS styles for the ProductForm component */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  flex: 0 0 150px; /* Set a fixed width for the label */
  margin-right: 10px;
}

.form-group input,
.form-group textarea {
  flex: 1; /* Let the input fields expand to fill the remaining space */
  width: "500px";
}


/* styles.css or your custom CSS file */
.navbar {
  margin-left: 4em;
  margin-right: 4em;
}
